{% extends 'base.html' %}


{%block content%}
<!--<div id="screenFiller">-->
<!--    <img class = 'second_menu' src = '../../../static/image/123.png'  role="button" onclick="openmenu()" > -->

<a id="home_button" href='http://127.0.0.1:8000/'>
  <img src="../../../static/image/wvhs.png" style="height: 65px; width: 65px;">
</a>
<!--navbar on phone-->

<div class="second">
  <a class = 'second_menu' type="button" onclick="openmenu()">Menu</a>
<!--show list menu when click-->
  <div id = "menu" style="display: none;">
    <!--<img id ='x_button' src=".\static\image\x.png" \ role="button" onclick="openmenu()"> "change it to text"X""-->
    <div id="menu_content">
      <a href="http://127.0.0.1:8000/one/"><span class="words">Home</span></a><!--connect to one-->
      <a href="http://127.0.0.1:8000/two/"><span class="words">News</span></a><!--connect to two-->
      <a href="http://127.0.0.1:8000/three/"><span class="words">Contact</span></a><!--connect to three-->
    </div>    
  </div>
</div>

<!--navbar on computer-->
<div class="topnav">
    <a  href="http://127.0.0.1:8000/one/">one</a>
    <a  href="http://127.0.0.1:8000/two/" >two</a>
    <a  href="http://127.0.0.1:8000/three/">three</a>
</div>



<div id="content_home" style="display: block;">
  <div id="content_me">
    <div id="filler"></div>
    <div id="about_me">
      <p class="big">Hi, I'm Eason.</p>
      <p class="small">A student from Wyalusing PA.</p>
    </div>

  </div>
</div>

{% endblock %}