{% extends 'base.html' %}


{%block content%}
<!--<div id="screenFiller">-->
<!--    <img class = 'second_menu' src = '../../../static/image/123.png'  role="button" onclick="openmenu()" > -->

<a id="home_button" href='http://127.0.0.1:8000/'>
  <img src="../../../static/image/wvhs.png" style="height: 65px; width: 65px;">
</a>
<!--navbar on phone-->


<div class="second">
  <a class = 'second_menu' type="button" onclick="openmenu()">Menu</a>
<!--show list menu when click-->
  <div id = "menu" style="display: none;">
    <!--<img id ='x_button' src=".\static\image\x.png" \ role="button" onclick="openmenu()"> "change it to text"X""-->
    <div id="menu_content">
      <a href="http://127.0.0.1:8000/one/"><span class="words">Home</span></a><!--connect to one-->
      <a href="http://127.0.0.1:8000/two/"><span class="words">News</span></a><!--connect to two-->
      <a href="http://127.0.0.1:8000/three/"><span class="words">Contact</span></a><!--connect to three-->
    </div>    
  </div>
</div>

<!--navbar on computer-->
<div class="topnav">
    <a  href="http://127.0.0.1:8000/one/">Project</a>
    <a  href="http://127.0.0.1:8000/two/" >two</a>
    <a  href="http://127.0.0.1:8000/three/">three</a>
</div>
<hr id="line">
<!--the content-->

<div id="content" class="middle">
  <div id="content_" style="display: grid;">
    <div id="name">
      <hr style="height: 5px;width: 50px;margin: 0%;background-color: aliceblue;">
      <p class="big">Hi, I'm Eason.</p>
      <p style="font-size: 25px;font-weight: 600;">A student from Wyalusing PA.</p>
      <p class="small" style="max-width: 350px;">At first, I live in Taiwan, than I move to America in order to get better education</p>
    </div>

    <div id="img" style="display:flex;width: 100%;height: 200px;">
      <div>
        <img  src="..\..\..\static\image\agent-peely-img.png" style="display:flex;width: 100%;height: 400px;">
      </div>  
    </div>

  </div>
</div>

<img src="..\..\..\static\image\book-stack-512.png" style="display:flex;bottom: -40;right:0;position: fixed;transform: rotate(20deg);opacity: 0.25;z-index: 1;">

  <!--</div>-->


{% endblock %}