{% extends 'base.html' %}


{%block content%}
<!--<div id="screenFiller">-->
<!--    <img class = 'second_menu' src = '../../../static/image/123.png'  role="button" onclick="openmenu()" > -->

<div id="home_button" type="button"><a href='http://127.0.0.1:8000/'>EASON</a></div>
<!--navbar on phone-->

<div class="second">
  <a class = 'second_menu' type="button" onclick="openmenu()">Menu</a>
<!--show list menu when click-->
  <div id = "menu" style="display: none;">
    <!--<img id ='x_button' src=".\static\image\x.png" \ role="button" onclick="openmenu()"> "change it to text"X""-->
    <div id="menu_content">
      <a href="http://127.0.0.1:8000/one/"><span class="words">Home</span></a><!--connect to one-->
      <a href="http://127.0.0.1:8000/two/"><span class="words">News</span></a><!--connect to two-->
      <a href="http://127.0.0.1:8000/three/"><span class="words">Contact</span></a><!--connect to three-->
    </div>    
  </div>
</div>

<!--navbar on computer-->
<div class="topnav">
    <a  href="http://127.0.0.1:8000/one/">one</a>
    <a  href="http://127.0.0.1:8000/two/" >two</a>
    <a  href="http://127.0.0.1:8000/three/">three</a>
</div>



<div id="content" style="display: flex;">
  <div id="filler"></div>
  <svg class="svg" height="100%" width="100%" viewBox="0 0 600 600">
    <g transform="translate(600 600)">
       <polygon points="0,0 200,0 100,100" style="fill:lime;stroke:purple;stroke-width:1" />
    </g>
  </svg>
</div>

{% endblock %}