{% extends 'base.html' %}

{%block content%}


<div class="second">
<!--    <img class = 'second_menu' src = '../../../static/image/123.png'  role="button" onclick="openmenu()" > -->
  <a class = 'second_menu'>Menu</a>
  <div class="menu_content"></div>
    <a href="http://127.0.0.1:8000/">Home</a><!--connect to one-->
    <a href="http://127.0.0.1:8000/two/">News</a><!--connect to two-->
    <a href="http://127.0.0.1:8000/three/">Contact</a><!--connect to three-->




</div>


<div class="topnav">
    
    <a href="http://127.0.0.1:8000/">Home</a><!--connect to one-->
    <a class = 'is_active' href="http://127.0.0.1:8000/two/">News</a><!--connect to two-->
    <a href="http://127.0.0.1:8000/three/">Contact</a><!--connect to three-->

  </div>

<h1>www</h1>
{% endblock %}