* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

body{
  margin-left: auto;
  margin-top: auto;
  width: 100%;
}

.topnav {

  background-color: rgb(76, 74, 74);
  display: flex;/* let <a>part be flex*/
  
 

}


.topnav a {

  background-color: rgb(76, 74, 74);
  color: rgb(255, 255, 255);
  /* text-align: center; where the text locate*/
  flex: none;/* how big <a>thing is. In this case, it's using width*/
  width: 60px;
  height: 40px;
  display: flex;align-items: center;justify-content: center;
  text-decoration: none;  
}
/*
.right_side{
  display: flex;align-items: end;


}
*/
.topnav a:hover{
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
}

.topnav a.is_active{
  background-color: rgb(78, 132, 88);
  color: rgb(255, 255, 255);
  
}

.topnav a.is_active:hover{
  background-color: rgb(43, 76, 49);
  color: rgb(255, 255, 255);
  
}


.second {

  background-color: rgb(76, 74, 74);
  display: none; /* hide */
  flex-wrap: wrap; /* */ 
  

}

.second_menu{
  background-size: cover;
  width: 60px;
  height: 40px;
  background-color: rgb(78, 132, 88);
  display: flex;align-items: center;justify-content: center;
  text-decoration: none;  
  color: white;
}

.second_menu:hover{
  background-color: rgb(43, 76, 49);
  
}

.second_menu.is_active .menu_content{
  display: block;
  background-color: aqua;
}

.menu_content {
  display: none;
  background-color: aliceblue;
}


@media (max-width:500px) { /*what should the web do when the web width is not enough*/
  .topnav {/*web setting on pc (hide)*/

    background-color: rgb(76, 74, 74);
    display: none;
    flex: auto;
  
  }
  .second {/*web setting on phone(show)*/
  
    background-color: rgb(76, 74, 74);
    display: flex;
    flex-wrap: wrap;
  }  
}


