* {box-sizing: border-box}
body, html {
  
  margin-left: auto;
  margin-top: auto;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#212121, #585858);
}

*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#line{
  width: 90%;
  align-self: center;
  border-color: #585858;
}

#screenFiller {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  
}
/* home button*/
#home_button{
  background-color: #212121;
  display: flex;/* let <a>part be flex*/
  
}

#home_button a{
  color: rgb(255, 255, 255);
  flex: none;
  width: 65px;
  height: 50px;
  display: flex;align-items: center;justify-content: center;
  text-decoration: none; 
  font-family: 'Source Sans Pro', sans-serif;
}

#home_button_word{
  font-size:40px;
  font-weight: 100;
  letter-spacing: -2px;
}
/* normal navbar */
.topnav{
  background-color: #212121;
  display: flex;justify-content: end;/* let <a>part be flex*/
  margin-top: -65px;
}

/* find out how to let other element change color when one element is hover*/
.topnav a {
  background-color: #212121;
  color: rgb(77, 77, 77);
  /* text-align: center; where the text locate*/
  flex: none;/* how big <a>thing is. In this case, it's using width*/
  width: 70px;
  height: 65px;
  display: flex;align-items: center;justify-content: center;
  text-decoration: none; 
  transition: color 1s;
}
/*
.topnav:hover{
  color: aqua;
}
*/

.topnav a:hover{
  color:aliceblue
}

/*
.topnav a.is_active{
  padding: 10px;
  -webkit-box-shadow:0px 2px 4px #ffffff;
  -moz-box-shadow:0px 2px 4px #ffffff;
  box-shadow:0px 2px 4px #ffffff;
  
}

.topnav a.is_active:hover{
  background-color: aliceblue;
  color: #212121;
  
}
*/

/* ----------------------------------------phone menu part---------------------------------------------------*/

.second {
  width: 100%;
  background-color: #212121;
  display: none;justify-content: end; /* hide */
  flex-wrap: wrap; /* */ 
  margin-top: -65px;
}

.second_menu{
  background-size: cover;
  width: 70px;height: 65px;
  color: rgb(255, 255, 255);
  display:flex;align-items: center;justify-content: center;
  text-decoration: none;  
  -webkit-box-shadow:0px 2px 4px #ffffff;
  -moz-box-shadow:0px 2px 4px #ffffff;
  box-shadow:0px 2px 4px #ffffff;
}

.second_menu:hover{
  background-color: aliceblue;
  color: #212121;
}

/* --------------menu content-------------------- */

#menu{
  position: absolute;
  background-color: #212121;
  flex-direction: column;
  width: 100%;
  top: 65px;
  bottom: 0px;
  display: none;
}

#menu_content{
  margin-top: 100px;
}

#menu_content a{
  color: #f0f8ff;
  width: 100%;
  height: 70px;
  display:flex;align-items: center;justify-content:center;
  text-decoration: none;  
}

#menu_content a:hover{
  background-color: aliceblue;
  color: #212121;
}

.words{
  display:inline-block;
  width: 90%;
}

#x_button{
  position:relative; /*the position of object when the web size change*/
  display: flex;justify-content: center;align-items: center;  /* X mark location */
  height: 50px;width: 50px;/* size */
  background-color: #212121;color: aliceblue; /* color */
  border-radius: 3px; /* side radius */
  float: right;margin-right: 15px; margin-top: 20px;/* location */ 
}

#x_button span{
  position:absolute;
  font-size: 25px;
  height: 25px;width: 25px; 
  display: flex;justify-content: center;align-items: center; /* X mark location */ 
}

#x_button:hover{
  color:#212121;background-color: aliceblue;
  
  
}
/*content thing*/

#content{
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 100px;
  position: relative;
  z-index: 2;
}





#content_{
  height: 50%;
  transition-timing-function: display 1s;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  grid-column-gap: 28px;
  grid-row-gap: 80px;  
}


.big{ 
  font-size: 70px;
  font-weight: 700;
  color: aliceblue;
  margin-bottom: 0%;
}

.small{
  font-size: 18px;
  font-weight: 400;
  color: aliceblue;
}

.middle{
  font-size: 30px;
  font-weight: 600;
  color: aliceblue;
}

#name{
  animation: move 1s;
  display: flex;flex-direction: column;
  margin: none;
}

/*
.opacity_change{
  opacity: 0.35;
}
*/

.hide{
  display: none;
}

#about_me{
  max-width: 342px;
  /*display: flex;flex-direction: column;flex-wrap: wrap;align-content: flex-end;align-items: flex-start;flex-direction: column;*/
  width: 80%;
  /*margin-right: 20px; */
  animation: move_right 1s;
  display: flex;align-items: flex-end;flex-direction: column;
  justify-self: end;
}

.middle_{
  justify-content: center;
}

/*content two*/

#img{
  position: relative;
  z-index: 1;
  justify-content: flex-end;
}

/* page one thing */

.thing{
  border: 1px solid white;height: 100%;width: 100%; border-radius: 25px;background-color: rgb(43, 43, 43);
  margin-top: 60px;
  height: 200px;
}


.card{
  animation: change 1s;
}
.not_turn{
  animation: change2 1s;
}

.not_show{
  display: none;
}

@media (max-width:500px) { /*what should the web do when the web width is not enough*/
  .topnav {/*web setting on pc (hide)*/

    /*background-color: rgb(26, 25, 25); */
    display:none;
    flex: auto;
  
  }
  .second {/*web setting on phone(show)*/
  
    /*background-color: rgb(26, 25, 25);*/
    display: flex;
    flex-wrap: wrap;
  }  
}


@keyframes move{
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes move_right{
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes change{
  from {
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(180deg);
  }
}

@keyframes change2{
  from {
    transform: rotateY(180deg);
  }
  to{
    transform: rotateY(360deg);
  }
}



/*<div class="content_home" style="display: grid;">
  
  <!--<div id="content_me">-->
  

<div id="content" class="middle">
  <div id="content_"  style="display: grid;">
    <div id="name">
      <p class="big">Hi, I'm Eason.</p>
      <p class="small">A student from Wyalusing PA.</p>
    </div>

    <div id="about_me">
      <div>
        <p class="middle">ABOUT ME</p>
        <p class="small"> At first, I live in Taiwan, than I move to America in order to get better education</p>
      </div>   
      <div id="MY PROJECT">
        <p class="middle">MY PROJECT</p>
        <p class="small">Here is some project or activity I do in 2023 to 2024.</p>
      </div>
    </div>



  </div>
</div>

<div id="img" class="middle" style="display:flex; width: 100%; margin-top: -350px;margin-left: -20px;">
  <div>
    <div style="opacity: 1;background-image: radial-gradient(#ffffff 0.65px, #212121 0.65px);background-size: 13px 13px;width: 100px;height: 100px;display:block; position:relative; "></div>
    <img  src="..\..\..\static\image\agent-peely-img.png" >
  </div>  

</div>






#content{
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 100px;
  position: relative;
  z-index: 2;
}




#content_{
  height: 50%;
  transition-timing-function: display 1s;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  grid-column-gap: 28px;
  grid-row-gap: 80px;  


  
#name{
  animation: move 1s;
  display: flex;flex-direction: column;
  margin: none;
}
}
*/